@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* outline: none; */
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* All Section Padding  */
.banner {
    padding: 100px;
}

.section-padding {
    padding: 50px 100px;
}

.heading {
    color: #000;
    text-align: center;
    position: relative;
}

.heading:after {
    position: absolute;
    left: 44%;
    bottom: -10px;
    height: 5px;
    border-radius: 4px;
    width: 130px;
    content: "";
    background-color: chocolate;
}
.heading h2 {
    font-size: 35px;
    font-weight: 600;
}
.heading p {
    font-weight: 200;
    font-size: 14px;
    color: darkgray;
    line-height: 21px;
}

/* title common css  */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    color: #111;
}
.title p {
    color: darkgray;
    font-size: 15px;
    font-weight: 300;
}


/* Header Area  */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s ease all;
}
header.sticky {
    padding: 10px 50px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
    font-weight: 600;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1.3;
    text-transform: uppercase;
}
header.sticky .logo {
    color: chocolate;
}

header .navigation {
    display: flex;
}
header .navigation li {
    margin-left: 40px;
    list-style: none;
    position: relative;
}

header .navigation li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
}

header.sticky .navigation li a {
    color: #111;
}



/* Banner Saction  */

.banner {
    position: relative;
    background: url(../images/bg.jpg);
    background-color: blueviolet;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-text h3 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 15px;

}

.banner .banner-text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 70px;
    font-weight: 700;
    padding-bottom: 15px;
    
}
.banner .banner-text h1 span {
    color: chocolate;
}
.banner .banner-text h2 {
    font-size: 35px;
    color: #fff;
    line-height: 45px;
    font-weight: 600;
    padding-bottom: 15px;
    
}


/* About Section Start  */



.about .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.about .row .col50  {
    width: 48%;
}
.about .row .text-bx {
    padding-right: 20px;
}
.about .row .text-bx h3 {
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 600;
    line-height: 32px;
}
.about .row .text-bx p {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #111; 
}

.about .row .imgBx {
    position: relative;
    width: 560px;
    height: 320px;
}
.about .row .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.boxed-btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: chocolate;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.boxed-btn i.fa {
    margin-left: 5px;
}


/* services section  */
.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.services .content .box {
    width: 530px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.services .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.services .content .box .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services .content .box .textBx {
    padding: 5px 0 15px;
}
.services .content .box .textBx h3 {
    font-weight: 400;
    color: #111;
}

/* skills section  */
.skills .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.skills .content .box {
    width: 530px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.skills .content .skill-box {
    padding-bottom: 10px;
}

.skills .content .skill-box .progress-bar {
    position: relative;
    height: 8px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
}

.skills .content .skill-box .progress-bar:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    background-color: chocolate;
    content: "";
}


/* projects section  */
.projects .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.projects .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.projects .content .box .imgBx {
    position: relative;
    height: 300px;
    width: 100%;
}
.projects .content .box .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projects .content .box .textBx {
    padding: 5px 0 15px;
}
.projects .content .box .textBx h3 {
    font-weight: 400;
    color: #111;
}


/* testimonials section  */
.white .title h3,
.white .title p {
    color: #fff;
}

.testimonials {
    background: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.testimonials .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
}

.testimonials .content .imgBx {
    position: relative;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    
}
.testimonials .content .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Contact Section  */
.contact .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.contact .content .box {
    width: 530px;
    margin: 20px;
    padding: 40px;
    display: flex;
    
    background: #ddd;
    flex-direction: column;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.contentBx .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contentBx .inputBx input,
.contentBx .inputBx textarea {
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;

}

.contentBx .inputBx textarea {
    height: 100px;
}

.contentBx .inputBx input[type="submit"] {
    width: 130px;
    background: chocolate;
    color: #fff;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
}

/* Socials Box  */
.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    
}
.socials .social-box {
    width: 200px;
    margin: 10px;
    border: 10px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
}

footer p {
    font-size: 16px;
}
footer p a {
    display: inline-block;
    color: red;
}



/* Responsive */

/* For Mobile Phone  */
@media (max-width: 480px) {
    .title {
        text-align: center;
    }
    .testimonials .content .box {
        width: 320px;
        margin: 10px;
        padding: 20px;
    }
    .banner .banner-text h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .banner .banner-text h2 {
        font-size: 24px;
        line-height: 33px;
         
    }
    .banner {
        padding-left: 40px;
    }


    /* Header  */
    header,
    header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li {
        margin-left: 0;
        margin-bottom: 20px;
    }
    header .navigation li a {
        font-size: 1.6em;
        color: #111;
    }
    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .toggle.active {
        background: url(../images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .toggle {
        filter: invert(1);
    }
    
}


/* For Tablate  */
@media (min-width: 480px) and (max-width: 768px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        font-size: 1.6em;
        color: #111;
    }
    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .toggle.active {
        background: url(../images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .toggle {
        filter: invert(1);
    }
    header .navigation li {
        margin-bottom: 20px;
    }           

    section {
        padding: 20px;
    }


    .banner .banner-text h1 {
        font-size: 45px;
    }
    .banner .banner-text h2 {
        font-size: 30px;
    }

    /* about  */
    .about .row {
        flex-direction: column-reverse;
    }

    .about .row .col50 {
        position: relative;
        width: 100%;
    }
    .about .row .imgBx {
        margin-bottom: 25px;
    }
    .services .content {
        margin-top: 20px;
    }
    .services .content .box {
        margin: 10px;
       
    }
    .services .content .box .imgBx {
        height: 270px;
    }
}

/* For Laptop  */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 10px 20px;
    }
    header .logo {
        font-size: 16px;
    }
    header .navigation li {
        margin-left: 25px;
    }
    header .navigation li a {
        font-size: 13px;
    }
    .banner-text {
        padding-top: 90px;
    }
    .banner .banner-text h3 {
        font-size: 16px;
    }
    .banner .banner-text h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .banner .banner-text h2 {
        font-size: 30px;
    }
    section {
        padding: 50px;
    }  
    .about .row .imgBx {
        width: 480px;
        height: 310px;
    } 
    .services {
        padding-top: 0px;
    } 
}